@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
//======================================= mixins =================================================
@mixin slide_top {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FFED00;
}

@mixin slide_top_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: 18px;
    max-width: 500px;
}

@mixin slide_top_subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-top: 70px;
    max-width: 500px;
}

@mixin slide_bg($linck) {
    height: 100%;
    background: url($linck) top center/cover;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

//===================================== main scss ===============================================
.section_wrappper {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: #868686;
        .logo {
            padding-top: 10px;
        }
        .nav {
            ul {
                display: flex;
                text-decoration: none;
                .nav_el {
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    text-shadow: 0px 1px 1px rgba($color: #000000, $alpha: 0.4);
                    list-style-type: none;
                    margin-right: 13px;
                    .nav_text {}
                }
                img {
                    border-radius: 25px;
                    display: none;
                    width: 32px;
                    height: 32px;
                }
                .nav_el--active {
                    color: #FFED00;
                    img {
                        background-color: #FFED00;
                    }
                }
            }
        }
    }
    @media (max-width: 760px) {
        .header {
            .logo {}
            .nav {
                ul {
                    .nav_el {
                        font-size: 16px;
                        margin-right: 13px;
                    }
                }
            }
        }
    }
    @media (max-width: 490px) {
        .header {
            .logo {}
            .nav {
                ul {
                    .nav_el {
                        font-size: 16px;
                        margin-right: 13px;
                        .nav_text {
                            display: none;
                        }
                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 490px) {
        .header {
            .logo {}
            .nav {
                ul {
                    padding-left: 5px;
                    .nav_el {
                        .nav_text {}
                        img {}
                    }
                }
            }
        }
    }
    @media (max-width: 375px) {
        .header {
            .logo {}
            .nav {
                ul {
                    padding-left: 5px;
                    .nav_el {
                        .nav_text {}
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
    .body {
        height: 90vh;
        .swiper-top {
            .swt {
                height: 45vh;
                //===== slide 1 ======
                .about-st {
                    .about-st_top {
                        @include slide_top();
                        .about_top-title {
                            @include slide_top_title();
                        }
                        .about_top-subtitle {
                            @include slide_top_subtitle();
                        }
                    }
                }
                //===== slide 2 ======
                .we_can-st {
                    .we_can-st_top {
                        @include slide_top();
                        .we_can_top-title {
                            @include slide_top_title();
                        }
                        .we_can_top-subtitle {
                            @include slide_top_subtitle();
                        }
                    }
                }
                //===== slide 3 ======
                .services-st {
                    .services-st_top {
                        @include slide_top();
                        .services_top-title {
                            @include slide_top_title();
                        }
                        .services_top-subtitle {
                            @include slide_top_subtitle();
                            span {
                                font-weight: 500;
                                font-style: normal;
                                font-size: 18px;
                            }
                        }
                    }
                }
                //===== slide 4 ======
                .contacts-st {
                    .contacts-st_top {
                        @include slide_top();
                        .contacts_top-title {
                            @include slide_top_title();
                        }
                        .contacts_top-subtitle {
                            @include slide_top_subtitle();
                            a {
                                color: #000000;
                                text-decoration: none;
                            }
                        }
                    }
                }
                //===== slide 5 ======
                .partners-st {
                    .partners-st_top {
                        @include slide_top();
                        .partners_top-title {
                            @include slide_top_title();
                        }
                        .partners_top-subtitle {
                            @include slide_top_subtitle();
                            a {
                                color: #000000;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .swiper-bot {
            .swb {
                height: 45vh;
                //===== slide 1 ======
                .about-sb {
                    .about-sb_bot {
                        @include slide_bg("/image/bot_bg.png");
                        .big_logo_about {
                            padding-top: 35px;
                            img {}
                        }
                    }
                }
                //===== slide 2 ======
                .we_can-sb {
                    .we_can-sb_bot {
                        @include slide_bg("/image/we_can_bg.png");
                    }
                }
                //===== slide 3 ======
                .services-sb {
                    .services-sb_bot {
                        @include slide_bg("/image/services_bg.png");
                        .big_logo_services {
                            .rhombs-container {
                                display: flex;
                                justify-content: center;
                            }
                            .rhombs {
                                display: flex;
                                flex-wrap: wrap;
                                /* максимум 3 ромба учитывая также margin 10px */
                                width: calc(3 * 100px * 1.414213562373095 + 60px);
                            }
                            .rhomb {
                                position: relative;
                                width: 100px;
                                height: 100px;
                                position: relative;
                                /* смещение чтобы не налезать на другие элементы */
                                /* это аналогичино margin: calc(100px * (1.414213562373095 - 1) / 2) + 10px); */
                                margin: calc(100px * 0.2071067811865475 + 10px);
                                /* стили для того чтобы элемент не занимал всю строку */
                                /* и для центрирования текста вертикально и горизонтально */
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                svg {
                                    z-index: 2;
                                    pointer-events: none;
                                }
                                .tooltip1 {
                                    width: 600px;
                                    padding: 10px 20px 10px 10px;
                                    border: 1px solid rgba(255, 237, 0, 1);
                                    position: absolute;
                                    color: aliceblue;
                                    background-color: #000000;
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 500;
                                    font-style: 18px;
                                    text-align: center;
                                    border-radius: 15px;
                                    z-index: 3;
                                    transition: 1s;
                                    pointer-events: none;
                                    opacity: 0;
                                    left: 130px;
                                }
                            }
                            .rhomb:after {
                                content: "";
                                /* абсолтное позиционирование */
                                position: absolute;
                                /* занимаем столько же места, сколько контейнер */
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                /* окрашиваем в нужный цвет */
                                background-color: rgba($color: #000000, $alpha: 0.4);
                                border-radius: 15px;
                                transition: 1s;
                                /* вращаем на 45 градусов */
                                transform: rotate(45deg);
                                /* отрицательный z-index, чтобы не перекрывать контент главного блока */
                                z-index: 1;
                            }
                            .rhomb:hover:after {
                                background-color: rgba(255, 237, 0, 1);
                                transition: 1s;
                            }
                            /* арифметика смещения элементов чётных строк */
                            .rhomb--even-row {
                                margin-top: calc(-100px / 2 * 1.414213562373095 + 20px);
                                margin-left: calc(100px / 2 * (1.414213562373095 + 0.2071067811865475 * 2) + 20px);
                                margin-bottom: calc(-100px / 2 * 1.414213562373095 + 20px);
                            }
                            .rhomb--even-row+.rhomb--even-row {
                                margin-left: calc(100px / 2 * 0.2071067811865475 + 20px);
                            }
                        }
                    }
                }
                //===== slide 4 ======
                .contacts-sb {
                    .contacts-sb_bot {
                        @include slide_bg("/image/contacts_bg.png");
                    }
                }
                //===== slide 5 ======
                .partners-sb {
                    .partners-sb_bot {
                        @include slide_bg("/image/bot_bg.png");
                        .big_logo_partners {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            img {
                                padding: 0 10px 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}