@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
//======================================= mixins =================================================
@mixin slide_top {
    text-align: center;
    font-family: 'Orelega One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #FFF140;
}

@mixin slide_top_title {
    font-family: 'Orelega One', sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 500px;
}

@mixin slide_top_subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    padding-top: 70px;
    max-width: 500px;
}

@mixin slide_bg($linck) {
    height: 100%;
    background: url($linck) top center/cover;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

* {
    -webkit-tap-highlight-color: transparent;
}

//===================================== main scss ===============================================
.section_wrappper {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: #868686;
        .logo {
            padding-top: 10px;
        }
        .nav {
            ul {
                display: flex;
                text-decoration: none;
                .nav_el {
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    text-shadow: 0px 1px 1px rgba($color: #000000, $alpha: 0.4);
                    list-style-type: none;
                    margin-right: 13px;
                    .nav_text {}
                    &:focus {
                        outline: none;
                    }
                }
                img {
                    border-radius: 25px;
                    display: none;
                    width: 32px;
                    height: 32px;
                    &:focus {
                        outline: none;
                    }
                }
                .nav_el--active {
                    border-radius: 25px;
                    color: #FFF140;
                    img {
                        background-color: #FFF140;
                    }
                }
            }
        }
    }
    @media (max-width: 760px) {
        .header {
            .logo {}
            .nav {
                ul {
                    .nav_el {
                        font-size: 16px;
                        margin-right: 13px;
                    }
                }
            }
        }
    }
    @media (max-width: 490px) {
        .header {
            .logo {}
            .nav {
                ul {
                    .nav_el {
                        border-radius: 25px;
                        font-size: 16px;
                        margin-right: 13px;
                        .nav_text {
                            display: none;
                        }
                        img {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 490px) {
        .header {
            .logo {}
            .nav {
                ul {
                    padding-left: 5px;
                    .nav_el {
                        .nav_text {}
                        img {}
                    }
                }
            }
        }
    }
    @media (max-width: 375px) {
        .header {
            .logo {}
            .nav {
                ul {
                    padding-left: 5px;
                    .nav_el {
                        .nav_text {}
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
    .body {
        height: 90vh;
        .swiper-top {
            .swt {
                height: 45vh;
                //===== slide 1 ======
                .about-st {
                    .about-st_top {
                        @include slide_top();
                        .about_top-title {
                            @include slide_top_title();
                        }
                        .about_top-subtitle {
                            @include slide_top_subtitle();
                        }
                    }
                }
                //===== slide 2 ======
                .we_can-st {
                    .we_can-st_top {
                        @include slide_top();
                        .we_can_top-title {
                            @include slide_top_title();
                        }
                        .we_can_top-subtitle {
                            @include slide_top_subtitle();
                        }
                    }
                }
                //===== slide 3 ======
                .services-st {
                    .services-st_top {
                        @include slide_top();
                        .services_top-title {
                            @include slide_top_title();
                            transition-property: all;
                            transition: 1s;
                        }
                        .services_top-subtitle {
                            @include slide_top_subtitle();
                            span {
                                font-weight: 500;
                                font-style: normal;
                                font-size: 18px;
                            }
                        }
                    }
                }
                //===== slide 4 ======
                .contacts-st {
                    .contacts-st_top {
                        @include slide_top();
                        .contacts_top-title {
                            @include slide_top_title();
                        }
                        .contacts_top-subtitle {
                            @include slide_top_subtitle();
                            a {
                                color: #000000;
                                text-decoration: none;
                            }
                        }
                    }
                }
                //===== slide 5 ======
                .partners-st {
                    .partners-st_top {
                        @include slide_top();
                        .partners_top-title {
                            @include slide_top_title();
                        }
                        .partners_top-subtitle {
                            @include slide_top_subtitle();
                            a {
                                color: #000000;
                                text-decoration: none;
                                transition: 0.5s;
                                &:hover {
                                    font-size: 18px;
                                    color: #131ec4;
                                }
                            }
                        }
                    }
                }
            }
        }
        .swiper-bot {
            .swb {
                height: 45vh;
                //===== slide 1 ======
                .about-sb {
                    .about-sb_bot {
                        @include slide_bg("/image/bot_bg.png");
                        .big_logo_about {
                            padding-top: 35px;
                            img {}
                        }
                    }
                }
                //===== slide 2 ======
                .we_can-sb {
                    .we_can-sb_bot {
                        @include slide_bg("/image/we_can_bg.png");
                    }
                }
                //===== slide 3 ======
                .services-sb {
                    .services-sb_bot {
                        @include slide_bg("/image/services_bg.png");
                        .big_logo_services {
                            .rhombs-container {
                                display: flex;
                                justify-content: center;
                            }
                            .rhombs {
                                display: flex;
                                flex-wrap: wrap;
                                /* максимум 3 ромба учитывая также margin 10px */
                                width: calc(3 * 100px * 1.414213562373095 + 60px);
                            }
                            .rhomb {
                                position: relative;
                                width: 100px;
                                height: 100px;
                                position: relative;
                                /* смещение чтобы не налезать на другие элементы */
                                /* это аналогичино margin: calc(100px * (1.414213562373095 - 1) / 2) + 10px); */
                                margin: calc(100px * 0.2071067811865475 + 10px);
                                /* стили для того чтобы элемент не занимал всю строку */
                                /* и для центрирования текста вертикально и горизонтально */
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                svg {
                                    z-index: 2;
                                    pointer-events: none;
                                }
                            }
                            .rhomb:after {
                                content: "";
                                /* абсолтное позиционирование */
                                position: absolute;
                                /* занимаем столько же места, сколько контейнер */
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                /* окрашиваем в нужный цвет */
                                background-color: rgba($color: #000000, $alpha: 0.4);
                                border-radius: 15px;
                                transition: 1s;
                                /* вращаем на 45 градусов */
                                transform: rotate(45deg);
                                /* отрицательный z-index, чтобы не перекрывать контент главного блока */
                                z-index: 1;
                                transition: 1s;
                                animation-duration: 3s;
                                animation-name: animations;
                                animation-iteration-count: infinite;
                                @keyframes animations {
                                    from {
                                        border: 2px solid rgba(122, 161, 245, 0.486);
                                    }
                                    to {
                                        border: 2px solid rgba(5, 12, 73, 0.842);
                                        background-color: rgba($color: #000000, $alpha: 0.4);
                                    }
                                    50% {
                                        border: 2px solid rgba(255, 248, 155, 1);
                                        background-color: rgba(8, 31, 73, 0.301);
                                    }
                                }
                            }
                            .rhomb--active {
                                svg {
                                    g {
                                        .flipcolor {
                                            fill: #000000;
                                        }
                                    }
                                }
                                &::after {
                                    background-color: rgba(255, 248, 155, 1);
                                    transition: 1s;
                                    animation-duration: 3s;
                                    animation-name: pulse;
                                    animation-iteration-count: infinite;
                                    @keyframes pulse {
                                        from {
                                            border: 2px solid rgba(255, 248, 155, 1);
                                            background-color: rgba(255, 248, 155, 1);
                                        }
                                        to {
                                            border: 2px solid rgba(255, 248, 155, 1);
                                            background-color: rgba(255, 248, 155, 1);
                                        }
                                        50% {
                                            border: 2px solid rgb(0, 0, 0);
                                            background-color: rgba(100%, 93%, 0%, 1);
                                        }
                                    }
                                }
                            }
                            /* арифметика смещения элементов чётных строк */
                            .rhomb--even-row {
                                margin-top: calc(-100px / 2 * 1.414213562373095 + 20px);
                                margin-left: calc(100px / 2 * (1.414213562373095 + 0.2071067811865475 * 2) + 20px);
                                margin-bottom: calc(-100px / 2 * 1.414213562373095 + 20px);
                            }
                            .rhomb--even-row+.rhomb--even-row {
                                margin-left: calc(100px / 2 * 0.2071067811865475 + 20px);
                            }
                        }
                    }
                }
                @media (max-width: 480px) {
                    .services-sb {
                        .services-sb_bot {
                            .big_logo_services {
                                padding-top: 50px;
                                .rhombs-container {
                                    display: flex;
                                    justify-content: center;
                                }
                                .rhombs {
                                    display: flex;
                                    flex-wrap: wrap;
                                    /* максимум 3 ромба учитывая также margin 10px */
                                    width: calc(3 * 60px * 1.414213562373095 + 60px);
                                }
                                .rhomb {
                                    position: relative;
                                    width: 60px;
                                    height: 60px;
                                    position: relative;
                                    /* смещение чтобы не налезать на другие элементы */
                                    /* это аналогичино margin: calc(60px * (1.414213562373095 - 1) / 2) + 10px); */
                                    margin: calc(60px * 0.2071067811865475 + 10px);
                                    /* стили для того чтобы элемент не занимал всю строку */
                                    /* и для центрирования текста вертикально и горизонтально */
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    svg {
                                        width: 40px;
                                        height: 40px;
                                    }
                                }
                                .rhomb:after {
                                    content: "";
                                    /* абсолтное позиционирование */
                                    position: absolute;
                                    /* занимаем столько же места, сколько контейнер */
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    /* окрашиваем в нужный цвет */
                                    background-color: rgba($color: #000000, $alpha: 0.4);
                                    border-radius: 15px;
                                    transition: 1s;
                                    /* вращаем на 45 градусов */
                                    transform: rotate(45deg);
                                    /* отрицательный z-index, чтобы не перекрывать контент главного блока */
                                    z-index: 1;
                                }
                                .rhomb--active {
                                    svg {
                                        g {
                                            .flipcolor {}
                                        }
                                    }
                                    &::after {}
                                }
                                /* арифметика смещения элементов чётных строк */
                                .rhomb--even-row {
                                    margin-top: calc(-60px / 2 * 1.414213562373095 + 20px);
                                    margin-left: calc(60px / 2 * (1.414213562373095 + 0.2071067811865475 * 2) + 20px);
                                    margin-bottom: calc(-60px / 2 * 1.414213562373095 + 20px);
                                }
                                .rhomb--even-row+.rhomb--even-row {
                                    margin-left: calc(60px / 2 * 0.2071067811865475 + 20px);
                                }
                            }
                        }
                    }
                }
                //===== slide 4 ======
                .contacts-sb {
                    .contacts-sb_bot {
                        @include slide_bg("/image/contacts_bg.png");
                    }
                }
                .contacts-sb--mobile {
                    display: none;
                }
                @media (max-width: 768px) {
                    .contacts-sb {
                        display: none;
                    }
                    .contacts-sb--mobile {
                        display: block;
                        .contacts-sb_bot {
                            padding-top: 10px;
                            @include slide_bg("/image/bot_bg.png");
                            .big_logo_contacts {
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                align-items: center;
                                .contacts_logo--mobile {
                                    width: 280px;
                                    height: auto;
                                }
                                .contacts_ico_wrapper {
                                    padding-top: 10px;
                                    display: grid;
                                    grid: 100% /25% 25% 25% 25%;
                                    gap: 10px;
                                    justify-content: space-around;
                                    align-items: center;
                                    .contacts_ico--mobile {
                                        width: 80px;
                                        height: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
                @media (max-width: 425px) {
                    .contacts-sb {}
                    .contacts-sb--mobile {
                        .contacts-sb_bot {
                            .big_logo_contacts {
                                .contacts_logo--mobile {
                                    width: 240px;
                                    height: auto;
                                }
                                .contacts_ico_wrapper {
                                    gap: 5px;
                                    .contacts_ico--mobile {
                                        width: 60px;
                                        height: 60px;
                                    }
                                }
                            }
                        }
                    }
                }
                //===== slide 5 ======
                .partners-sb {
                    .partners-sb_bot {
                        @include slide_bg("/image/bot_bg.png");
                        padding-top: 10px;
                        .big_logo_partners {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                            justify-content: space-around;
                            align-items: center;
                            img {
                                height: 150px;
                                padding: 0 10px 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}